@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(212, 209, 209);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em
}

.nav a{
   color: blue;
   text-decoration: none;
   font-size: 1.5em;
   font-weight: 600;
   padding-left: 30px;
}

section{
    padding: 300px 500px;
   
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/light-gray-concrete-wall.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h1{
    color: red;
    font-size: 3em;
    font-weight: 600;
}

.main h2{
    color: darksalmon;
    font-size: 2em;
    font-weight: 800;
    margin-left: 90px;
    margin-bottom: 30px;
}

.main-btn{
    color: #ffffff;
    background-color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
   border-radius: 15px;
   margin-bottom: 40px;
   transition: 0.7s ease;
   margin-left: 70px;

}

.main-btn:hover{
    background-color: rgb(215, 94, 94);
    transform: scale(1.1);
}


.title{
    display: flex;
    justify-content: center;
    color: red;
    font-size: 3em;
    font-weight: 1000;
    margin-bottom: 20px;
    margin-top: 3000;
  
}



.procard{
    background-color: lightpink;
    border: 2px solid rgb(135, 48, 61);
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 5x;
    transition: 0.7s ease;
    
    

}

.procard:hover{
    transform: scale(1.1);
}

.procard:hover .proimage{
    opacity: 0.9;
}

.proimage img{
    width: 100%;
}


.inf{
    padding: 1em;
}

.cat{
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    color: red;
}

.det{
    text-decoration: none;
}
.det:hover{
    color: blue;
}

@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

